# Yarn 2 configuration
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/unplugged
!.yarn/versions
!.yarn/build-state.yml
!.yarn/install-state.gz

# TypeScript
build/
ignorable-build-cache.json

# Webpack Cache
node_modules/
